.rangeslider,
.rangeslider__fill {
  background: #fbfbfb;
  display: block;
  height: 13px;
  width: 100%;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: -webkit-linear-gradient(left,#dce35b,#63bf58); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,#dce35b,#63bf58); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#dce35b,#63bf58); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,#dce35b,#63bf58); /* 标准的语法 */
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  background:url('../images/console/slider.png') #ffffff 50% 50% no-repeat;
  box-shadow: 0px 0px 12px 1px rgba(78, 182, 74, 0.3);
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  border-radius: 50%;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
